@import "tw-animate-css";
@import "./fonts.css";

@source "../components/**/*.{tsx,mjs,js}";

@theme {
  /* Blur */
  --blur-surface-low: 1rem;
  --blur-surface: 1.5rem;
  --blur-surface-high: 2.5rem;

  /* Box Shadow */
  --shadow-box-low: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.04);
  --shadow-box: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.04), 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.04);
  --shadow-box-high: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.04), 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.04);

  /* Radius */
  --radius-circle: 999px;
  --radius-square-low: 0.1875rem;
  --radius-square: 0.375rem;
  --radius-square-high: 0.75rem;

  /* Spacing - Margin */
  --spacing-margin-4xs: 0.25rem;
  --spacing-margin-3xs: 0.5rem;
  --spacing-margin-2xs: 0.75rem;
  --spacing-margin-xs: 1rem;
  --spacing-margin-sm: 1.25rem;
  --spacing-margin-md: 1.5rem;
  --spacing-margin-lg: 1.75rem;
  --spacing-margin-xl: 2rem;
  --spacing-margin-4xl: 3rem;

  /* Spacing - Element Sizing */
  --spacing-element-2xs: 0.75rem;
  --spacing-element-xs: 1rem;
  --spacing-element-sm: 1.25rem;
  --spacing-element-md: 1.5rem;
  --spacing-element-lg: 1.75rem;
  --spacing-element-xl: 2rem;
  --spacing-element-2xl: 2.25rem;
  --spacing-element-3xl: 2.5rem;
  --spacing-element-4xl: 3rem;
  --spacing-element-5xl: 4rem;
  --spacing-element-6xl: 6rem;

  /* Typography - Font Families */
  --font-sans-display: "Mona Sans VF", "Inter", "Roboto", "Helvetica Neue", "Arial Nova", "Nimbus Sans", "Arial", sans-serif;
  --font-sans-display-settings: "ss01" on, "ss02" on, "ss05" on, "ss06" on;
  --font-sans: "Inter", "Roboto", "Helvetica Neue", "Arial Nova", "Nimbus Sans", "Arial", sans-serif;
  --font-sans-settings: "cv01" on, "cv02" on, "cv06" on, "cv07" on, "cv08" on, "cv10" on;
  --font-mono: "Mona Sans Mono VF", ui-monospace, "Cascadia Code", "Source Code Pro", "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
  --font-mono--settings: "ss01" on, "ss02" on, "ss05" on, "ss06" on;

  /* Typography - Font Sizes with paired Line Heights */
  --text-2xs: 0.6875rem;
  --text-2xs--line-height: 1rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-md: 1rem;
  --text-md--line-height: 1.5rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 3rem;
  --text-5xl: 4rem;
  --text-5xl--line-height: 4.5rem;

  /* Background Colors */
  --color-background-default: #ffffff;
  --color-background-default-050: rgb(255 255 255 / 0.5);
  --color-background-default-075: rgb(255 255 255 / 0.75);
  --color-background-neutral-strong: #e5e7eb;
  --color-background-neutral: #f3f4f6;
  --color-background-neutral-weak: #f9fafb;
  --color-background-neutral-weaker: #fcfdfd;
  --color-background-neutral-reverse-strong: #111827;
  --color-background-neutral-reverse: #1f2937;
  --color-background-ppg-strong: #ccfbf1;
  --color-background-ppg: #f0fdfa;
  --color-background-ppg-reverse-strong: #0d9488;
  --color-background-ppg-reverse: #14b8a6;
  --color-background-orm-strong: #e0e7ff;
  --color-background-orm: #eef2ff;
  --color-background-orm-reverse-strong: #4f46e5;
  --color-background-orm-reverse: #6366f1;
  --color-background-error-strong: #fee2e2;
  --color-background-error: #fef2f2;
  --color-background-error-reverse-strong: #dc2626;
  --color-background-error-reverse: #ef4444;
  --color-background-success-strong: #ccfbf1;
  --color-background-success: #f0fdfa;
  --color-background-success-reverse-strong: #0d9488;
  --color-background-success-reverse: #14b8a6;
  --color-background-warning-strong: #ffedd5;
  --color-background-warning: #fff7ed;
  --color-background-warning-reverse-strong: #ea580c;
  --color-background-warning-reverse: #f97316;
  --color-background-blue-strong: #dbeafe;
  --color-background-blue: #eff6ff;
  --color-background-cyan-strong: #cffafe;
  --color-background-cyan: #ecfeff;
  --color-background-fuchsia-strong: #fae8ff;
  --color-background-fuchsia: #fdf4ff;
  --color-background-lime-strong: #ecfccb;
  --color-background-lime: #f7fee7;
  --color-background-pink-strong: #fce7f3;
  --color-background-pink: #fdf2f8;
  --color-background-purple-strong: #f3e8ff;
  --color-background-purple: #faf5ff;
  --color-background-sky-strong: #e0f2fe;
  --color-background-sky: #f0f9ff;
  --color-background-violet-strong: #ede9fe;
  --color-background-violet: #f5f3ff;
  --color-background-yellow-strong: #fef9c3;
  --color-background-yellow: #fefce8;

  /* Foreground Colors */
  --color-foreground-neutral: #111827;
  --color-foreground-neutral-weak: #6b7280;
  --color-foreground-neutral-weaker: #9ca3af;
  --color-foreground-neutral-reverse: #ffffff;
  --color-foreground-neutral-reverse-weak: #9ca3af;
  --color-foreground-ppg-strong: #0f766e;
  --color-foreground-ppg: #0d9488;
  --color-foreground-ppg-weak: #14b8a6;
  --color-foreground-ppg-reverse: #ffffff;
  --color-foreground-ppg-reverse-weak: #99f6e4;
  --color-foreground-orm-strong: #4338ca;
  --color-foreground-orm: #4f46e5;
  --color-foreground-orm-weak: #6366f1;
  --color-foreground-orm-reverse: #ffffff;
  --color-foreground-orm-reverse-weak: #c7d2fe;
  --color-foreground-error-strong: #b91c1c;
  --color-foreground-error: #dc2626;
  --color-foreground-error-weak: #ef4444;
  --color-foreground-error-reverse: #ffffff;
  --color-foreground-error-reverse-weak: #fecaca;
  --color-foreground-success-strong: #0f766e;
  --color-foreground-success: #0d9488;
  --color-foreground-success-weak: #14b8a6;
  --color-foreground-success-reverse: #ffffff;
  --color-foreground-success-reverse-weak: #99f6e4;
  --color-foreground-warning-strong: #c2410c;
  --color-foreground-warning: #ea580c;
  --color-foreground-warning-weak: #f97316;
  --color-foreground-warning-reverse: #ffffff;
  --color-foreground-warning-reverse-weak: #fed7aa;
  --color-foreground-blue-strong: #1d4ed8;
  --color-foreground-blue: #2563eb;
  --color-foreground-blue-weak: #3b82f6;
  --color-foreground-cyan-strong: #0e7490;
  --color-foreground-cyan: #0891b2;
  --color-foreground-cyan-weak: #06b6d4;
  --color-foreground-fuchsia-strong: #a21caf;
  --color-foreground-fuchsia: #c026d3;
  --color-foreground-fuchsia-weak: #d946ef;
  --color-foreground-lime-strong: #4d7c0f;
  --color-foreground-lime: #65a30d;
  --color-foreground-lime-weak: #84cc16;
  --color-foreground-pink-strong: #be185d;
  --color-foreground-pink: #db2777;
  --color-foreground-pink-weak: #ec4899;
  --color-foreground-purple-strong: #7e22ce;
  --color-foreground-purple: #9333ea;
  --color-foreground-purple-weak: #a855f7;
  --color-foreground-sky-strong: #0369a1;
  --color-foreground-sky: #0284c7;
  --color-foreground-sky-weak: #0ea5e9;
  --color-foreground-violet-strong: #6d28d9;
  --color-foreground-violet: #7c3aed;
  --color-foreground-violet-weak: #8b5cf6;
  --color-foreground-yellow-strong: #a16207;
  --color-foreground-yellow: #ca8a04;
  --color-foreground-yellow-weak: #eab308;

  /* Stroke Colors */
  --color-stroke-neutral-stronger: #111827;
  --color-stroke-neutral-strong: #d1d5db;
  --color-stroke-neutral: #e5e7eb;
  --color-stroke-neutral-weak: #f3f4f6;
  --color-stroke-ppg: #0d9488;
  --color-stroke-orm: #4f46e5;
  --color-stroke-error: #dc2626;
  --color-stroke-success: #0d9488;
  --color-stroke-warning: #ea580c;
  --color-stroke-blue: #2563eb;
  --color-stroke-cyan: #0891b2;
  --color-stroke-fuchsia: #c026d3;
  --color-stroke-lime: #65a30d;
  --color-stroke-pink: #db2777;
  --color-stroke-purple: #9333ea;
  --color-stroke-sky: #0284c7;
  --color-stroke-violet: #7c3aed;
  --color-stroke-yellow: #ca8a04;

  /* Chart Colors */
  --chart-1: var(--color-foreground-pink);
  --chart-2: var(--color-foreground-fuchsia);
  --chart-3: var(--color-foreground-lime);
  --chart-4: var(--color-foreground-sky);
  --chart-5: var(--color-foreground-purple);
  --chart-6: var(--color-foreground-neutral-weak);
}

.dark {
  /* Background Colors */
  --color-background-default: #030712;
  --color-background-default-050: rgb(10 14 20 / 0.5);
  --color-background-default-075: rgb(10 14 20 / 0.75);
  --color-background-neutral-strong: #374151;
  --color-background-neutral: #1f2937;
  --color-background-neutral-weak: #111827;
  --color-background-neutral-weaker: #0a101d;
  --color-background-neutral-reverse-strong: #f9fafb;
  --color-background-neutral-reverse: #f3f4f6;
  --color-background-ppg-strong: #134e4a;
  --color-background-ppg: #042f2e;
  --color-background-ppg-reverse-strong: #2dd4bf;
  --color-background-ppg-reverse: #14b8a6;
  --color-background-orm-strong: #312e81;
  --color-background-orm: #1e1b4b;
  --color-background-orm-reverse-strong: #818cf8;
  --color-background-orm-reverse: #6366f1;
  --color-background-error-strong: #7f1d1d;
  --color-background-error: #450a0a;
  --color-background-error-reverse-strong: #f87171;
  --color-background-error-reverse: #ef4444;
  --color-background-success-strong: #134e4a;
  --color-background-success: #042f2e;
  --color-background-success-reverse-strong: #2dd4bf;
  --color-background-success-reverse: #14b8a6;
  --color-background-warning-strong: #7c2d12;
  --color-background-warning: #431407;
  --color-background-warning-reverse-strong: #fb923c;
  --color-background-warning-reverse: #f97316;
  --color-background-blue-strong: #1e3a8a;
  --color-background-blue: #172554;
  --color-background-cyan-strong: #164e63;
  --color-background-cyan: #083344;
  --color-background-fuchsia-strong: #701a75;
  --color-background-fuchsia: #4a044e;
  --color-background-lime-strong: #365314;
  --color-background-lime: #1a2e05;
  --color-background-pink-strong: #831843;
  --color-background-pink: #500724;
  --color-background-purple-strong: #581c87;
  --color-background-purple: #3b0764;
  --color-background-sky-strong: #0c4a6e;
  --color-background-sky: #082f49;
  --color-background-violet-strong: #4c1d95;
  --color-background-violet: #2e1065;
  --color-background-yellow-strong: #713f12;
  --color-background-yellow: #422006;

  /* Foreground Colors */
  --color-foreground-neutral: #f9fafb;
  --color-foreground-neutral-weak: #9ca3af;
  --color-foreground-neutral-weaker: #6b7280;
  --color-foreground-neutral-reverse: #030712;
  --color-foreground-neutral-reverse-weak: #4b5563;
  --color-foreground-ppg-strong: #2dd4bf;
  --color-foreground-ppg: #14b8a6;
  --color-foreground-ppg-weak: #0d9488;
  --color-foreground-ppg-reverse: #f9fafb;
  --color-foreground-ppg-reverse-weak: #99f6e4;
  --color-foreground-orm-strong: #818cf8;
  --color-foreground-orm: #6366f1;
  --color-foreground-orm-weak: #4f46e5;
  --color-foreground-orm-reverse: #f9fafb;
  --color-foreground-orm-reverse-weak: #c7d2fe;
  --color-foreground-error-strong: #f87171;
  --color-foreground-error: #ef4444;
  --color-foreground-error-weak: #dc2626;
  --color-foreground-error-reverse: #f9fafb;
  --color-foreground-error-reverse-weak: #fecaca;
  --color-foreground-success-strong: #2dd4bf;
  --color-foreground-success: #14b8a6;
  --color-foreground-success-weak: #0d9488;
  --color-foreground-success-reverse: #f9fafb;
  --color-foreground-success-reverse-weak: #99f6e4;
  --color-foreground-warning-strong: #fb923c;
  --color-foreground-warning: #f97316;
  --color-foreground-warning-weak: #ea580c;
  --color-foreground-warning-reverse: #f9fafb;
  --color-foreground-warning-reverse-weak: #fed7aa;
  --color-foreground-blue-strong: #93c5fd;
  --color-foreground-blue: #60a5fa;
  --color-foreground-blue-weak: #3b82f6;
  --color-foreground-cyan-strong: #22d3ee;
  --color-foreground-cyan: #06b6d4;
  --color-foreground-cyan-weak: #0891b2;
  --color-foreground-fuchsia-strong: #e879f9;
  --color-foreground-fuchsia: #d946ef;
  --color-foreground-fuchsia-weak: #c026d3;
  --color-foreground-lime-strong: #a3e635;
  --color-foreground-lime: #84cc16;
  --color-foreground-lime-weak: #65a30d;
  --color-foreground-pink-strong: #f472b6;
  --color-foreground-pink: #ec4899;
  --color-foreground-pink-weak: #db2777;
  --color-foreground-purple-strong: #c084fc;
  --color-foreground-purple: #a855f7;
  --color-foreground-purple-weak: #9333ea;
  --color-foreground-sky-strong: #38bdf8;
  --color-foreground-sky: #0ea5e9;
  --color-foreground-sky-weak: #0284c7;
  --color-foreground-violet-strong: #a78bfa;
  --color-foreground-violet: #8b5cf6;
  --color-foreground-violet-weak: #7c3aed;
  --color-foreground-yellow-strong: #facc15;
  --color-foreground-yellow: #eab308;
  --color-foreground-yellow-weak: #ca8a04;

  /* Stroke Colors */
  --color-stroke-neutral-stronger: #f9fafb;
  --color-stroke-neutral-strong: #374151;
  --color-stroke-neutral: #1f2937;
  --color-stroke-neutral-weak: #111827;
  --color-stroke-ppg: #2dd4bf;
  --color-stroke-orm: #818cf8;
  --color-stroke-error: #f87171;
  --color-stroke-success: #2dd4bf;
  --color-stroke-warning: #fb923c;
  --color-stroke-blue: #60a5fa;
  --color-stroke-cyan: #22d3ee;
  --color-stroke-fuchsia: #e879f9;
  --color-stroke-lime: #a3e635;
  --color-stroke-pink: #f472b6;
  --color-stroke-purple: #c084fc;
  --color-stroke-sky: #38bdf8;
  --color-stroke-violet: #a78bfa;
  --color-stroke-yellow: #facc15;
}

@layer utilities {

  /* Gradients */
  .bg-gradient-orm {
    background: linear-gradient(to right, #7c7ff1, #a5a8f5, #9ea2f3, #c6c9f9, #d8dcf5, #d8dcf5, #eff1fd);
  }

  .bg-gradient-ppg {
    background: linear-gradient(to right, #2bc9b4, #4dd4c1, #67ddd0, #8ae5dc, #b8f1e9, #c7f1ec, #e8fcf9);
  }

  .bg-gradient-ppg-orm {
    background: linear-gradient(90deg, var(--color-background-ppg) 0%, var(--color-background-orm) 100%);
  }

  /* Typography - Titles */
  .type-title-5xl,
  .type-title-4xl,
  .type-title-3xl,
  .type-title-xl,
  .type-title-lg,
  .type-title-md,
  .type-title-sm {
    font: normal 900 var(--text-2xl)/var(--text-2xl--line-height) var(--font-sans-display);
    font-feature-settings: var(--font-sans-display-settings);
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-stretch: 125%;
    font-width: 125%;
  }

  .type-title-5xl {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);
  }

  .type-title-4xl {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
  }

  .type-title-3xl {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
  }

  .type-title-xl,
  .type-title-lg,
  .type-title-md {
    font-weight: 800;
    font-stretch: 110%;
    font-width: 110%;
  }

  .type-title-xl {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
  }

  .type-title-lg {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }

  .type-title-md {
    font-size: var(--text-md);
    line-height: var(--text-md--line-height);
  }

  .type-title-sm {
    font-size: var(--text-sm);
    font-weight: 800;
    line-height: var(--text-sm--line-height);
    letter-spacing: 0.06875rem;
    text-transform: uppercase;
  }

  /* Typography - Headings */
  .type-heading-2xl,
  .type-heading-xl,
  .type-heading-lg,
  .type-heading-md,
  .type-heading-sm,
  .type-heading-xs {
    font: normal 700 var(--text-2xl)/var(--text-2xl--line-height) var(--font-sans-display);
    font-feature-settings: var(--font-sans-display-settings);
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
  }

  .type-heading-xl {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
  }

  .type-heading-lg {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }

  .type-heading-md {
    font-size: var(--text-lg);
    font-weight: 650;
    line-height: var(--text-lg--line-height);
  }

  .type-heading-sm {
    font-size: var(--text-sm);
    font-weight: 650;
    line-height: var(--text-sm--line-height);
  }

  .type-heading-xs {
    font-size: var(--text-xs);
    font-weight: 650;
    line-height: var(--text-xs--line-height);
  }

  .type-heading-2xs {
    font: normal 600 var(--text-2xs)/var(--text-2xs--line-height) var(--font-sans);
    font-feature-settings: var(--font-sans-settings);
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    letter-spacing: 0.06875rem;
    text-transform: uppercase;
  }

  /* Typography - Text */
  .type-text-md,
  .type-text-md-strong,
  .type-text-md-stronger,
  .type-text-sm,
  .type-text-sm-strong,
  .type-text-sm-stronger,
  .type-text-xs,
  .type-text-xs-strong,
  .type-text-xs-stronger {
    font: normal 400 var(--text-md)/var(--text-md--line-height) var(--font-sans);
    font-feature-settings: var(--font-sans-settings);
    font-variant-numeric: lining-nums proportional-nums slashed-zero;
  }

  .type-text-sm,
  .type-text-sm-strong,
  .type-text-sm-stronger {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }

  .type-text-xs,
  .type-text-xs-strong,
  .type-text-xs-stronger {
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
  }

  .type-text-md-strong,
  .type-text-sm-strong,
  .type-text-xs-strong {
    font-weight: 500;
  }

  .type-text-md-stronger,
  .type-text-sm-stronger,
  .type-text-xs-stronger {
    font-weight: 600;
  }

  /* Typography - Code */
  .type-code-md,
  .type-code-md-strong,
  .type-code-sm,
  .type-code-sm-strong,
  .type-code-xs,
  .type-code-xs-strong {
    font: normal 400 var(--text-md)/var(--text-md--line-height) var(--font-mono);
    font-feature-settings: var(--font-mono--settings);
  }

  .type-code-sm,
  .type-code-sm-strong {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }

  .type-code-xs,
  .type-code-xs-strong {
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
  }

  .type-code-md-strong,
  .type-code-sm-strong,
  .type-code-xs-strong {
    font-weight: 500;
  }

  /* File input button styles */
  input[type="file"]:valid {
    @apply text-foreground-neutral;
  }

  input[type="file"]:invalid {
    @apply text-foreground-error;
  }

  input[type="file"] {
    @apply font-normal cursor-pointer text-foreground-neutral-weak disabled:text-foreground-neutral-weaker p-0 border-0;
  }

  input[type="file"]::file-selector-button {
    @apply font-medium cursor-pointer rounded-square bg-background-neutral py-1 px-2 disabled:bg-background-neutral-weak text-foreground-neutral disabled:text-foreground-neutral-weaker;
  }
}